body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  
}

.cart {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin: 20px;
  box-sizing: border-box;
 

}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-sizing: border-box;
}

.cart-item img {
  width: 80px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.item-info {
  flex: 1;
  margin-left: 15px;
  box-sizing: border-box;
}

.item-info h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.item-info p {
  margin: 3px 0;
  color: #555;
  font-size: 14px;
}

.item-price {
  font-size: 16px;
  color: #007bff;
}

.coupon {
  margin: 20px 0;
  text-align: center;
}

.coupon button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.coupon button:hover {
  background-color: #333;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 20px;
}

.total-price {
  color: #007bff;
  font-size: 22px;
}
